.userInput{
    display:flex;
    flex-direction: column;
    gap:10px;
    text-align:center;
    justify-content:center;
}

.button{
    border:2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
cursor: pointer;
}

